{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<style>
  figure.page-header-image {
    margin: 0 0 0.75em;
  }

  figure.page-header-image img {
    margin-bottom: 0;
  }

  figure.page-header-image--compact {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 0.5em;
  }

  figure.page-header-image--compact img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }

  figure.page-header-image--compact + h2 {
    margin-top: 0.75em;
  }

  .page__content p:has(+ .research-intro-image) {
    margin-bottom: 0.35em;
  }

  .page__content .research-intro-image {
    margin: 0;
  }

  .page__content .research-intro-image img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .page__content .research-intro-image + h2 {
    margin-top: 0.5em;
  }
</style>

<!-- end custom head snippets -->
